/* ## Colors

### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;
  background-color: hsl(204, 43%, 93%);
}

.containers {
  max-width: 650px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-radius: 10px;
  overflow: hidden;
}

/* CONTAINER-1 STARTS */
.container--1 {
  height: 215px;
  background-color: #fff;
  grid-column: 1 / -1;
  padding: 40px 40px 40px;
}

.main-header--1 {
  font-size: 26px;
  color: hsl(179, 62%, 43%);
}

.sub-header--1 {
  margin-top: 20px;
  color: hsl(71, 73%, 54%);
}

.content--1 {
  line-height: 24px;
  margin-top: 14px;
  color: hsl(218, 22%, 67%);
}

/* CONTAINER-1 ENDS */

/* CONTAINER-2 STARTS */
.container--2 {
  color: hsl(204, 43%, 93%);
  height: 260px;
  background-color: hsl(179, 62%, 43%);
  padding: 40px;
}

.sub-header--2 {
  font-size: 18px;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}

.price {
  font-size: 32px;
  font-weight: 700;
}

.month {
  color: hsla(203, 44%, 93%, 0.643);
}

.content--2 {
  margin-top: 10px;
}

.btn {
  margin-top: 30px;
  color: hsl(204, 43%, 93%);
  text-align: center;
  width: 244px;
  padding: 16px 32px;
  border-radius: 5px;
  background-color: hsl(71, 73%, 54%);
  box-shadow: 0 5px 10px rgba(98, 98, 98, 0.335);
}

/* CONTAINER-2 ENDS */

/* CONTAINER-3 STARTS*/
.container--3 {
  color: hsla(203, 44%, 93%, 0.805);
  height: 260px;
  background-color: hsl(179, 45%, 50%);
  grid-column: -1 / 2;
  padding: 40px;
}

.sub-header--3 {
  font-size: 18px;
  margin-bottom: 18px;
}

.content--3 {
  width: 190px;
  line-height: 21px;
  font-size: 14px;
  font-weight: 300;
}

ul {
  list-style: none;
}
/* CONTAINER-3 ENDS*/

@media (max-width: 661px) {
  .containers {
    max-width: 310px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 5px;
    overflow: hidden;
  }

  /* CONTAINER-1 STARTS */

  .container--1 {
    height: 260px;
    grid-row: 1 / 2;
    padding: 35px 22px 22px 22px;
  }

  .main-header--1 {
    font-size: 18px;
    color: hsl(179, 62%, 43%);
  }

  .sub-header--1 {
    font-size: 16px;
    margin-top: 20px;
    color: hsl(71, 73%, 54%);
  }

  .content--1 {
    font-size: 14px;
    line-height: 24px;
    margin-top: 14px;
    color: hsl(218, 22%, 67%);
  }

  /* CONTAINER-1 ENDS */

  /* CONTAINER-2 STARTS */
  .container--2 {
    height: 230px;
    padding: 22px;
    grid-row: 2 / 3;
  }

  .btn {
    width: 270px;
    padding: 16px 32px;
  }
  /* CONTAINER-2 ENDS */

  /* CONTAINER-3 STARTS */
  .container--3 {
    padding: 22px;
    height: 230px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}
/* CONTAINER-3 ENDS */
